html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

canvas {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  border: none; 
}

